body {
	background-color: CornflowerBlue;
	color: Ivory;
	height: 100%;
    margin: 50;
    padding: 0;
    font-size: 50px;
}

h1 {
	text-align: center;
	background-color: Ivory;
	color: CornflowerBlue;
}

img {
	object-fit: contain;
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

a {
	color: Ivory;
}

a.links {
	color: CornflowerBlue;
}

table {
  border-collapse: collapse;
  table-layout: fixed ;
  width: 891px;
  height: 891px;
}

table, th, td {
  border: 5px solid CornflowerBlue;
  margin-left: auto;
  margin-right: auto;
  background-color: Ivory;
}

td {
	width: 297px ;
}

th{
	height: 297px;
}

td.work {
	background-image: url("figures/optics.JPG");
	background-repeat: no-repeat;
	background-size: 297px 297px;
}

td.education {
	background-image: url("figures/Library750.jpg");
	background-size: auto;
}

td.about {
	background-image: url("figures/me_casual2.jpeg");
	background-repeat: no-repeat;
	background-size: 450px 350px;
}

td.volunteer {
	background-image: url("figures/rodeo2.jpg");
	background-repeat: no-repeat;
	background-size: 400px 297px;
}

td.code {
	background-image: url("figures/code.jfif");
	background-repeat: no-repeat;
	background-size: 350px 297px;
}

td.publication {
	background-image: url("figures/books.jpg");
	background-repeat: no-repeat;
	background-size: 297px 297px;
}

td.blank1 {
	background-image: url("figures/galaxy.PNG");
	background-repeat: no-repeat;
	background-size: 297px 297px;
}

td.linkedin {
	background-image: url("figures/handshake.jpg");
	background-repeat: no-repeat;
	background-size: 297px 297px;
}

td.blank2 {
	background-image: url("figures/telescopes2.jpg");
	background-repeat: no-repeat;
	background-size: 297px 400px;
}






